.header {
  height: 85vh;
  background-image: url("/images/header-academy.gif");
  background-position: center;
  background-size: cover;
  position: relative;
}

.headerText {
  padding-top: 8rem;
  padding-left: 8rem;
  color: #1e2952;
}
.headerText h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.headerText h1 {
  font-size: 2.4rem;
}
.headerText h1 span {
  color: #6495ed;
}

@media (max-width: 800px) {
  .header {
    height: 50rem;
  }
}
@media (max-width: 600px) {
  .header {
    height: 30rem;
  }
}

@media (max-height: 600px) {
  .header {
    height: 98vh;
  }
}
