.coursesContainer {
  margin-top: 5rem;
  box-shadow: 5px 5px 10px #1e2952;
  padding-top: 5rem;
  padding-bottom:5rem;
  padding-left:10rem;
  padding-right:10rem;
}
.courses {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.courses h1 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  font-weight: 200;
}

.courses .information {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.courseInfo {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65rem;
}

.courseInfo h2 {
  font-size: 1.6rem;
}
.courseInfo p {
  font-size: 1.4rem;
  font-weight: 100;
  text-align: justify;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.aboutImageBox {
  flex: 0 0 30%;
}

.aboutImageBox img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1e2952;
}

@media (max-width: 800px) {
  .coursesContainer{
    padding-left:2rem;
    padding-right:2rem;
  }
  .courses {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8rem;
  }
  .courseInfo {
    margin-top: 5rem;
  }
  .courses .information{
    width: 80%;
    align-items: center;
    border-bottom:black 2px dotted;
    padding-bottom: 5rem;
  }
}
