.header {
  height: 80vh;
}

/* .headerText {
  position: absolute;
  padding-top: 8rem;
  padding-left: 8rem;
  color: #1e2952;
  bottom: 3rem;
  right: 3rem;
} */
.headerText h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.headerText h1 {
  font-size: 2.4rem;
}
.headerText h1 span {
  color: #6495ed;
}
.headerImg{
  width: 85%;
  height: 100%;
  margin:0 auto;
  position: relative;
}
.headerImg img{
  width: 100%;
  
}
.headerBtn {
  position: absolute;
  bottom: 4rem;
  left: 3rem;
}

@media (max-width: 800px) {
  .header {
    height: 30rem; 
  
  }
} 

@media (max-width: 600px) {
  
  .headerBtn {
    padding: 1rem !important;
    width: 12rem;
    height: min-content;
    top:45%;
    left: 0.7rem;
  }
}
